#custom_section {
    margin-top: 50px;
    padding: 35px 0px;
    width: 100%;
    background-image: url('/assets/images/background_5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custum {
    border-radius: 10px;
    background: linear-gradient(94deg, rgba(145, 61, 243, 0.50) 27.81%, rgba(121, 182, 255, 0.50) 75.94%);
    backdrop-filter: blur(5px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.description {
    width: 65%;
    color: #fff;
    font-size: 1.5em;
}

.description button {
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: .8em;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: #913DF3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s;
}

.description button:hover {
    background: #a05af0;
}

.description_image {
    max-width: 250px;
    margin-right: 10px;
}

.description_image img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:640px) {
    .custum {
        flex-direction: column;
        align-items: center;
    }

    .description {
        width: 100%;
        padding: 0px 10px;
        font-size: 1.2em;
    }

    .description button {
        width: 100%;
    }
}

@media screen and (min-width:641px) and (max-width:1023px) {
    .custum {
        padding: 15px 20px;
    }

    .description {
        width: 100%;
        padding: 0px 10px;
        font-size: 1.2em;
    }
}