header {
    width: 100%;
    padding: 15px 0px;
    background: linear-gradient(90deg, #913DF3 25%, #79B6FF 75%);
    position: fixed;
    top: 0;
    z-index: 1;
    
}
i{
    margin-right: 3px;
    font-size: 1.2em;
}

header .container {
    color: #ffff;
    justify-content: space-between;
}

header nav ul li {
    font-weight: bold;
    margin-left: 40px;
    border-bottom: 1px solid transparent;
}

header nav ul li:hover {
    border-bottom: 1px solid #fff;

}

.burguer_menu {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:676px) {
    header .container {
        flex-wrap: wrap;
    }

    .burguer_menu {
        display: inline;
    }

    header nav {
        width: 100%;
        display: none;
        margin-top: 10px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    header nav ul li{
        margin-left:0px;
    }
}

@media screen and (min-width:641px) and (max-width:1023px) {
    .burguer_menu {
        display: none;
    }
    header .container {
        flex-wrap: nowrap;
    }
    header nav {
        display: inline;
        margin-top:0px;
    }
    header nav ul {
        flex-direction:row;
    }
    header nav ul li{
        margin-left:10px;
    }
}
